<!DOCTYPE html>
<html lang="en,hi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/broadcast.css">
    <title>Messages</title>
</head>
<body>
    <nav>
        <div class="nav-left">
            <img src="../Images/logo.png" class="logo">
            <ul>
               <li>  <a href="dashboard.html"><img src="../Images/home.png" ></a>
               </li>
               <li> 
                <a href="msg.html"><img src="../Images/inbox.png" ></a>
                <span class="msg-count">4</span>
                <i class="fa fa-envelope fa-2x"></i>
              </li>  
            </ul>
        </div>
        
        <div class="nav-right">
            <div class="searchbox">
               <input type="text" placeholder="Broadcasts">
            </div>
             <div class="thrdot-icon">
                 <img src="../Images/see-more.png" >
            </div>
          </div>
    </nav>
    <!--MESSAGE BOX-->
    <div class="container">
        <div class="left-side">
            <nav class="upperbox">
            <div class="content"  >
                <h2 style="color: aliceblue; align-items: center;user-select: none;">BROADCASTS</h2>
            </div>
        </nav>
            <hr>
            <div class="broadcast-container">
                <div class="broadcasts">
                    <!---------Broadcasts------------>
                    <div style="border-bottom: 1px solid #bdc3c7; margin-bottom: 10px" class="section">
                        <img src="../Images/pic1.jpg" style="margin-top: 3px;" >
                        <b style="position: relative; color: #464444;;margin-block-start: 10px;">Agriculture schemes</b>
                        <small style="color: rgb(52, 255, 12);  margin-left: 22px;user-select: none;">'Online</small>
                        <br><br>
                    </div>
                     <!-------------------->
                </div>
                <div class="broadcasts">
                    <!---------Broadcasts------------>
                    <div style="border-bottom: 1px solid #bdc3c7; margin-bottom: 10px" class="section">
                        <img src="../Images/pic2.jpg" style="margin-top: 3px;" >
                        <b style="position: relative; color: rgb(0, 0, 0);margin-block-start: 10px;">Sericulture Schemes</b>
                        <small style="color: rgb(12, 255, 12); margin-left: 22px;user-select: none;">'Online</small>
                        <br><br>
                    </div>
                     <!-------------------->
                </div>
                <div class="broadcasts">
                    <!---------Broadcasts------------>
                    <div style="border-bottom: 1px solid #bdc3c7; margin-bottom: 10px" class="section">
                        <img src="../Images/pic3.jpg" style="margin-top: 3px;" >
                        <b style="position: relative; color: rgb(0, 0, 0);margin-block-start: 10px;">Pisciculture Schemes</b>
                        <small style="color: rgb(12, 255, 12); margin-left: 20px;user-select: none;">'Online</small>
                        <br><br>
                    </div>
                     <!-------------------->
                </div>
                <div class="broadcasts">
                    <!---------Broadcasts------------>
                    <div style="border-bottom: 1px solid #bdc3c7; margin-bottom: 10px" class="section">
                        <img src="../Images/pic4.jpg" style="margin-top: 3px;" >
                        <b style="position: relative; color: rgb(0, 0, 0);margin-block-start: 22px;">Apiculture Schemes</b>
                        <small style="color: rgb(12, 255, 12); margin-left: 20px;user-select: none;">'Online</small>
                        <br><br>
                    </div>
                     <!-------------------->
                </div>
                <div class="broadcasts">
                    <!---------Broadcasts------------>
                    <div style="border-bottom: 1px solid #bdc3c7; margin-bottom: 10px" class="section">
                        <img src="../Images/pic2.jpg" style="margin-top: 3px;" >
                        <b style="position: relative; color: rgb(0, 0, 0);margin-block-start: 10px;">Sericulture Schemes</b>
                        <small style="color: rgb(12, 255, 12); margin-left: 20px;user-select: nune;">'Online</small>
                        <br><br>
                    </div>
                     <!-------------------->
                </div>
            </div>
        </div>
        <div class="right-side" >
            <nav class="nav-upper">
                <div class="prof-pic">
                    <a href="#">
                        <img src="../Images/pic1.jpg" >
                    </a>    
                </div>
                <strong style="font-size: 25px; color: aliceblue; align-items: left;user-select:none;">Agricultural Schemes</strong>
                <small style="color: rgb(12, 255, 12); margin-left: 20px; user-select: none;">'Online</small>
            </nav>
            <hr>
            <div class="date" >
                    <small style="padding: 0 300px;color: black;">13/4/2023</small>
            </div>
            <div class="news" style="font-size: 20; color: aliceblue; text-align: center;">
                   <strong><b style="color: rgb(90, 9, 9); font-size: 20px;"> <u>प्रधानमंत्री किसान सम्मान निधि (पीएम-किसान):</u></b><br></strong>  <br>
पीएम-किसान योजना का उद्देश्य देश भर के सभी भूमिधारक किसानों के परिवारों को आय सहायता प्रदान करना है ताकि वे कृषि और संबद्ध गतिविधियों के साथ-साथ घरेलू जरूरतों से संबंधित खर्चों का ध्यान रखने में सक्षम हो सकें।
यह योजना कुछ अपवादों के अधीन, खेती योग्य भूमि वाले किसान परिवारों को प्रति वर्ष 6000/- रुपये का भुगतान प्रदान करती है।.........
                <br><br>
         <div class="btn1">
                <button>READ..</button>
          </div>
          <div class="btn2">
                 <button>APPLY</button>
          </div>
        </div>
        <!----------news----------->
        <div class="date" >
            <small style="padding: 0 60px; color: black;">15/05/2023</small>
    </div>
    <div class="news" style="font-size: 20; color: aliceblue; text-align: center;">
           <strong><b style="color:rgb(90, 9, 9);font-size: 20px;"> <u>प्रधानमंत्री किसान सम्मान निधि (पीएम-किसान):</u></b><br></strong>  <br>
पीएम-किसान योजना का उद्देश्य देश भर के सभी भूमिधारक किसानों के परिवारों को आय सहायता प्रदान करना है ताकि वे कृषि और संबद्ध गतिविधियों के साथ-साथ घरेलू जरूरतों से संबंधित खर्चों का ध्यान रखने में सक्षम हो सकें।
यह योजना कुछ अपवादों के अधीन, खेती योग्य भूमि वाले किसान परिवारों को प्रति वर्ष 6000/- रुपये का भुगतान प्रदान करती है।.........
        <br><br>
    <div class="btn1">
        <button>READ..</button>
     </div>
     <div class="btn2">
        <button>APPLY</button>
     </div>
         </div>
        
         <div class="date" >
            <small style="padding: 0 60px; color: black;">20/09/2023</small>
    </div>
    <div class="news" style="font-size: 20; color: aliceblue; text-align: center;">
           <strong><b style="color: rgb(90, 9, 9);font-size: 20px;"> <u>प्रधानमंत्री किसान सम्मान निधि (पीएम-किसान):</u></b><br><br></strong>  <br>
पीएम-किसान योजना का उद्देश्य देश भर के सभी भूमिधारक किसानों के परिवारों को आय सहायता प्रदान करना है ताकि वे कृषि और संबद्ध गतिविधियों के साथ-साथ घरेलू जरूरतों से संबंधित खर्चों का ध्यान रखने में सक्षम हो सकें।
यह योजना कुछ अपवादों के अधीन, खेती योग्य भूमि वाले किसान परिवारों को प्रति वर्ष 6000/- रुपये का भुगतान प्रदान करती है।.........
        <br><br>
 <div class="btn1">
        <button>READ..</button>
  </div>
  <div class="btn2">
        <button>APPLY</button>
  </div>
</div>
    </div>
   </div>
</body>
</html>