<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width= , initial-scale=1.0" />
    <title>Krishigram.com</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css"
    />
    
    <link rel="stylesheet" href="../css/dasboard.css" />
  </head>
  <body>
    <nav>
        <div class="nav-left">
            <img src="../Images/logo.png" class="logo">
            <ul>
              <li>
                <a href="broadcast.html"target="_blank">
                  <img src="../Images/Broadcast.png" alt="">
                </a>
                <span class="broad-count">10</span>
                <i class="fa fa-envelope fa-2x"></i>
              </li>
               <li>
                <a href="agedu.html">
                  <img src="../Images/video.png"  >
                </a>
              </li>
              <a href="sell.html">
               <li><img src="../Images/shopping.png" ></li> 
              </a>  
            </ul>
        </div>
        <div class="nav-right">
          <div class="searchbox">
             <img src="../Images/search.png" >
             <input type="text" placeholder="Broadcasts/Users">
          </div>
          <div class="user-icon">
          <a href="profile.html" target="_blank">
            <img src="../Images/user-icon.png" >
          </a>
          </div>
        </div>
    </nav>

      <main>
          <div class="container">
              <div class="left">
                 
                  <div class="sidebar">
                    <a class="menu-item active" href="profile.html">
                      <span><i class="uil uil-home"></i></span> <h3>Profile</h3>
                    </a>
                    <a class="menu-item " href="broadcast.html" >
                      <span><i class="uil uil-compass"></i></span> <h3>Broadcasts</h3>
                    </a>
                    <a class="menu-item" id="messages-notifications" href="msg.html">
                        <i class="uil uil-envelope"><small class="notification-count">6</small></i></span><h3>Messages</h3>
                    </a>
                    <a class="menu-item" id="notifications">
                        <span><i class="uil uil-bell"><small class="notification-count">9+</small></i></span> <h3>Notifications</h3>
                        <div class="notifications-popup">
                            <div>
                                <div class="profile-pic">
                                    <img src="../Images/images (1).jpg" >
                                </div>
                                <div class="notification-body">
                                    <b>Kishan Das</b> accepted your friend request
                                    <small class="text-muted">2 DAYS AGO</small>
                                </div>
                            </div>
                            <div>
                                <div class="profile-pic">
                                    <img src="../Images/images (1).jpg" >
                                </div>
                                <div class="notification-body">
                                    <b>Varun Nair</b> commented on your post
                                    <small class="text-muted">1 HOUR AGO</small>
                                </div>
                            </div>
                            <div>
                                <div class="profile-pic">
                                    <img src="../Images/images (1).jpg" >
                                </div>
                                <div class="notification-body">
                                    <b>Gharbharan Yadav</b> and 210 other liked your post
                                    <small class="text-muted">4 MINUTES AGO</small>
                                </div>
                            </div>
                            <div>
                                <div class="profile-pic">
                                    <img src="../Images/images (1).jpg" >
                                </div>
                                <div class="notification-body">
                                    <b>Ramu Prasad</b> started following you
                                    <small class="text-muted"> 11 HOURS AGO</small>
                                </div>
                            </div>
                        </div>
                      </a>

                    <a class="menu-item ">
                      <span><i class="uil uil-analytics"></i></span> <h3>Expert Section</h3>
                    </a>
                    <a class="menu-item ">
                      <span><i class="uil uil-palette"></i></span> <h3>Theme</h3>
                    </a>
                    <a class="menu-item ">
                      <span><i class="uil uil-setting"></i></span> <h3>Settings</h3>
                    </a>
                    
                    <label class="btn btn-primary" for="create-post">Create Post</label>
                </div>
              </div>
              


              <div class="middle" style="user-select: none;">
                <div class="stories">
                    <div class="story">
                        <div class="profile-pic">
                            <img src="../Images/images (1).jpg" alt="">
                        </div>
                        <p class="name">Your Story</p>
                    </div>
                    <div class="story">
                        <div class="profile-pic">
                            <img src="../Images/images (1).jpg" alt="">
                        </div>
                        <p class="name">jagmohan das</p>
                    </div>
                    <div class="story">
                        <div class="profile-pic">
                            <img src="../Images/images (3).jpg" alt="">
                        </div>
                        <p class="name">Sukhiram Dev</p>
                    </div>
                    <div class="story">
                        <div class="profile-pic">
                            <img src="../Images/images (3).jpg" alt="">
                        </div>
                        <p class="name">Puneet Yadav</p>
                    </div>
                    <div class="story">
                        <div class="profile-pic">
                            <img src="../Images/images (3).jpg" alt="">
                        </div>
                        <p class="name">Dilbharan</p>
                    </div>
                    <div class="story">
                        <div class="profile-pic">
                            <img src="../Images/images (1).jpg" alt="">
                        </div>
                        <p class="name">kishore Kumar</p>
                    </div>
                </div>

                <form class="create-post">
                    <div class="profile-pic">
                        <img src="../Images/user-icon.png" alt="">
                     
                    </div>
                    <input type="text" placeholder="What's on your mind?" id="create-post">
                    <input type="file" name="file" id="file" class="inputfile">
                     <label for="file" style="user-select: none; font-size: 15px;"><img src="../Images/file.png" style="width: 35px; height: 35px;cursor: pointer;"></label>
                    <input type="submit" value="Post" class="btn btn-primary">
                </form>

                <div class="feeds">
                    <div class="feed">
                        <div class="head">
                            
                        </div>
                         <div class="user">
                             <div class="profile-pic">
                                 <img src="../Images/profile-14.jpg" alt="">
                             </div>
                             <div class="info">
                                 <h3>Dilbharan Prasad</h3>
                                 <small>Kissan, 15 MINUTES AGO</small>
                             </div >
                             <SPAN class="edit"><i class="uil uil-ellipsis-h"></i></SPAN>
                         </div>

                         <div class="photo">
                             <img src="../Images\240_F_489386811_CFgeiuogiY1YwHvPCUeWhADN59TcH2IE.jpg" alt="">
                         </div>

                         <div class="action-button">
                             <div class="interaction-button">
                                 <span><i class="uil uil-thumbs-up"></i></span>
                                 <span><i class="uil uil-comment"></i></span>
                                 <span><i class="uil uil-share"></i></span>
                             </div>
                             <div class="bookmark">
                                 <span><i class="uil uil-bookmark"></i></span>
                             </div>
                         </div>

                         <div class="liked-by">
                             <span><img src="../Images/user-icon.png"></span>
                             <span><img src="../Images/images (2).jpg"></span>
                             <span><img src="../Images/user-icon.png"></span>
                             ,<p>Liked by <b>Govind</b>snd <b>220 others</b></p>
                         </div>

                         <div class="caption">
                             <p><b>Jaikishore</b>Lorem ipsum dolor storiesquiquam eius.
                            <span class="hash-tag">#lifestyle</span></p>
                         </div>
                         <div class="comments text-muted">View all 130 comments</div>
                    </div>
                
                    <div class="feed">
                        <div class="head">
                            
                        </div>
                         <div class="user">
                             <div class="profile-pic">
                                 <img src="../Images/images (3).jpg" alt="">
                             </div>
                             <div class="info">
                                 <h3>Gharbharan Yadav</h3>
                                 <small>Kissan, 1 HOUR AGO</small>
                             </div >
                             <SPAN class="edit"><i class="uil uil-ellipsis-h"></i></SPAN>
                         </div>

                         <div class="photo">
                             <img src="../Images/240_F_464020928_duTbAkPZSKiR3MaWAzNVov51W3fGIZtT.jpg" alt="">
                         </div>

                         <div class="action-button">
                             <div class="interaction-button">
                                 <span><i class="uil uil-thumbs-up"></i></span>
                                 <span><i class="uil uil-comment"></i></span>
                                 <span><i class="uil uil-share"></i></span>
                             </div>
                             <div class="bookmark">
                                 <span><i class="uil uil-bookmark"></i></span>
                             </div>
                         </div>

                         <div class="liked-by">
                             <span><img src="../Images/images (2).jpg"></span>
                             <span><img src="../Images/user-icon.png"></span>
                             <span><img src="../Images/images (2).jpg"></span>
                             <p>Liked by <b>Jaikishore</b>snd <b>188 others</b></p>
                         </div>

                         <div class="caption">
                             <p><b>Gopal yadav</b>Lorem ipsum dolor storiesquiquam eius.
                            <span class="hash-tag">#lifestyle</span></p>
                         </div>
                         <div class="comments text-muted">View all 40 comments</div>
                    </div>
                
                    <div class="feed">
                        <div class="head">
                            
                        </div>
                         <div class="user">
                             <div class="profile-pic">
                                 <img src="../Images/images (3).jpg" alt="">
                             </div>
                             <div class="info">
                                 <h3>Gopal Dev</h3>
                                 <small>Aajadpur, 7 HOURS AGO</small>
                             </div >
                             <SPAN class="edit"><i class="uil uil-ellipsis-h"></i></SPAN>
                         </div>

                         <div class="photo">
                             <img src="../Images\240_F_397267033_e523l6AGL0PwboADFvcDYo6G0yPlCjPh.jpg" alt="">
                         </div>

                         <div class="action-button">
                             <div class="interaction-button">
                                 <span><i class="uil uil-thumbs-up"></i></span>
                                 <span><i class="uil uil-comment"></i></span>
                                 <span><i class="uil uil-share"></i></span>
                             </div>
                             <div class="bookmark">
                                 <span><i class="uil uil-bookmark"></i></span>
                             </div>
                         </div>

                         <div class="liked-by">
                             <span><img src="../Images/user-icon.png"></span>
                             <span><img src="../Images/images (1).jpg"></span>
                             <span><img src="../Images/images (2).jpg"></span>
                             ,<p>Liked by <b>Tika Singh</b>snd <b>130 others</b></p>
                         </div>

                         <div class="caption">
                             <p><b>Gopala</b>Lorem ipsum dolor storiesquiquam eius.
                            <span class="hash-tag">#lifestyle</span></p>
                         </div>
                         <div class="comments text-muted">View all 15 comments</div>
                    </div>
                
                    <div class="feed">
                        <div class="head">
                            
                        </div>
                         <div class="user">
                             <div class="profile-pic">
                                 <img src="../Images/images (3).jpg" alt="">
                             </div>
                             <div class="info">
                                 <h3>Abdul Kareem</h3>
                                 <small>Diljhatpur, 3 HOURS AGO</small>
                             </div >
                             <SPAN class="edit"><i class="uil uil-ellipsis-h"></i></SPAN>
                         </div>

                         <div class="photo">
                             <img src="../Images\240_F_464020928_duTbAkPZSKiR3MaWAzNVov51W3fGIZtT.jpg" alt="">
                         </div>

                         <div class="action-button">
                             <div class="interaction-button">
                                 <span><i class="uil uil-thumbs-up"></i></span>
                                 <span><i class="uil uil-comment"></i></span>
                                 <span><i class="uil uil-share"></i></span>
                             </div>
                             <div class="bookmark">
                                 <span><i class="uil uil-bookmark"></i></span>
                             </div>
                         </div>

                         <div class="liked-by">
                             <span><img src="../Images/user-icon.png"></span>
                             <span><img src="../Images/images (2).jpg"></span>
                             <span><img src="../Images/user-icon.png"></span>
                             ,<p>Liked by <b>Arijit Kishore</b>snd <b>280 others</b></p>
                         </div>

                         <div class="caption">
                             <p><b>Gharbharan</b>Lorem ipsum dolor storiesquiquam eius.
                            <span class="hash-tag">#lifestyle</span></p>
                         </div>
                         <div class="comments text-muted">View all 110 comments</div>
                    </div>
                
                    <div class="feed">
                        <div class="head">
                            
                        </div>
                         <div class="user">
                             <div class="profile-pic">
                                 <img src="images/images (3).jpg" alt="">
                             </div>
                             <div class="info">
                                 <h3>Babu Rao</h3>
                                 <small>Mankapur, 1 DAY AGO</small>
                             </div >
                             <SPAN class="edit"><i class="uil uil-ellipsis-h"></i></SPAN>
                         </div>

                         <div class="photo">
                             <img src="../Images\240_F_366883101_ponkPuQEZwoXpfBC9Hcms0iiL5XgvXwb.jpg" alt="">
                         </div>

                         <div class="action-button">
                             <div class="interaction-button">
                                 <span><i class="uil uil-thumbs-up"></i></span>
                                 <span><i class="uil uil-comment"></i></span>
                                 <span><i class="uil uil-share"></i></span>
                             </div>
                             <div class="bookmark">
                                 <span><i class="uil uil-bookmark"></i></span>
                             </div>
                         </div>

                         <div class="liked-by">
                             <span><img src="../Images/user-icon.png"></span>
                             <span><img src="../Images/images (2).jpg"></span>
                             <span><img src="../Images/user-icon.png"></span>
                             ,<p>Liked by <b>pankhauri</b>snd <b>420 others</b></p>
                         </div>

                         <div class="caption">
                             <p><b>Rajesh</b>Lorem ipsum dolor storiesquiquam eius.
                            <span class="hash-tag">#lifestyle</span></p>
                         </div>
                         <div class="comments text-muted">View all 120 comments</div>
                    </div>
                </div>
              </div>
              <div class="right" >
                  <div class="messages">
                    <div class="heading">
                        <h4>Feeds+</h4>
                        <span><i class="uil uil-edit"></i></span>
                    </div>
  
                    <div class="search-bar">
                        <span><i class="uil uil-search"></i></span>
                        <input type="search" placeholder="Search Broadcasts" id="message-search">
                    </div>
  
                    <div class="category">
                        <h6 class="active">New</h6>
                        <h6>Users</h6>
                        <h6 class="message-requests">Trendings(7)</h6>
                    </div>
                </div>   
                <div class="lower">
                    <div class="post-container">
                        <div class="broadcast-profile">
                             <a href="broadcast.html"><img src="../Images/pic2.jpg" ></a>
                              <div>
                                <p>Agricultural</p>
                                 <small>Gornment OF India</small>
                              </div>
                         </div>
                       <div class="poups">
                        <div class="imgpost">
                           <a href="broadcast.html"> <img src="../Images/kissanidhi.jpg" alt=""></a>
                        </div>
                      </div>
                     </div> 
       
                     <div class="post-container">
                       <div class="broadcast-profile">
                            <a href="broadcast.html"><img src="../Images/pic2.jpg" ></a>
                             <div>
                                <p>Sericulture</p>
                                <small>Central Government</small>
                             </div>
                        </div>
                      <div class="poups">
                       <div class="imgpost">
                          <a href="broadcast.html"> <img src="../Images/silkscheme.jpg" alt=""></a>
                       </div>
                     </div>
                    </div> 
                     
                    <div class="post-container">
                     <div class="broadcast-profile">
                          <a href="broadcast.html"><img src="../Images/pic4.jpg" ></a>
                           <div>
                            <p>Apiculture</p>
                              <small>Government Of India</small>
                           </div>
                      </div>
                    <div class="poups">
                     <div class="imgpost">
                        <a href="broadcast.html"> <img src="../Images/honeyschemes.jpg" alt=""></a>
                     </div>
                   </div>

                    

                </div>

               
            
              </div> 


               
              </div>
          </div>
      </main>

        <script src="../js/index.js"></script>
  </body>
  
</html>
