<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/msg.css">
    <title>Messages</title>
</head>
<body>
    <nav>
        <div class="nav-left">
            <img src="../Images/logo.png" class="logo">
            <ul>
               <li>  <a href="dashboard.html"><img src="../Images/home.png" >
               </a></li>
               <li>
                <a href="broadcast.html"><img src="../Images/Broadcast.png" ></a>
                <span class="broad-count">10</span>
                <i class="fa fa-envelope fa-2x"></i>
               </li>
              
              
              
            </ul>
        </div>
        
        <div class="nav-right">
            <div class="searchbox">
               <input type="text" placeholder="Friends......">
            </div>
             <div class="thrdot-icon">
                 <img src="../Images/see-more.png" >
            </div>
          </div>
    </nav>
    <!--MESSAGE BOX-->
    <div class="container">
        <div class="left-side">
            <nav class="upperbox">
            <div class="content"  >
                <h2 style="color: aliceblue; align-items: center;user-select: none;">FRIENDS</h2>
            </div>
        </nav>
            <hr>
            <div class="broadcast-container">
                <div class="broadcasts">
                    <!---------Broadcasts------------>
                    <div style="border-bottom: 1px solid #bdc3c7; margin-bottom: 10px" class="section">
                        <img src="../images/images (1).jpg" style="margin-top: 5px;" >
                        <b style="position: relative; color: #464444;margin-block-start: 10px;">Ramesh Singh</b>
                        <small style="color: rgb(52, 255, 12);  margin-left: 50px;user-select: none;">'Online</small>
                        <br><br>
                    </div>
                     <!-------------------->
                </div>
                <div class="broadcasts">
                    <!---------Broadcasts------------>
                    <div style="border-bottom: 1px solid #bdc3c7; margin-bottom: 10px" class="section">
                        <img src="../images/images (1).jpg" style="margin-top: 5px;" >
                        <b style="position: relative; color:#464444;margin-block-start: 10px;">Shruesh Chauhan</b>
                        <small style="color: rgb(52, 255, 12);  margin-left: 50px;user-select: none;">'Online</small>
                        <br><br>
                    </div>
                     <!-------------------->
                </div>
                <div class="broadcasts">
                    <!---------Broadcasts------------>
                    <div style="border-bottom: 1px solid #bdc3c7; margin-bottom: 10px" class="section">
                        <img src="../images/images (1).jpg" style="margin-top: 5px;" >
                        <b style="position: relative; color:#464444;margin-block-start: 10px;">Ghrija Devi</b>
                        <small style="color: rgb(52, 255, 12);  margin-left: 50px;user-select: none;">'Online</small>
                        <br><br>
                    </div>
                     <!-------------------->
                </div>
                <div class="broadcasts">
                    <!---------Broadcasts------------>
                    <div style="border-bottom: 1px solid #bdc3c7; margin-bottom: 10px" class="section">
                        <img src="../images/images (1).jpg" style="margin-top: 5px;" >
                        <b style="position: relative; color:#464444;margin-block-start: 10px;">Rajesh Gond</b>
                        <small style="color: rgb(52, 255, 12);  margin-left: 50px;user-select: none;">'Online</small>
                        <br><br>
                    </div>
                     <!-------------------->
                </div>
                <div class="broadcasts">
                    <!---------Broadcasts------------>
                    <div style="border-bottom: 1px solid #bdc3c7; margin-bottom: 10px" class="section">
                        <img src="../images/images (2).jpg" style="margin-top: 5px;" >
                        <b style="position: relative; color:#464444;margin-block-start: 10px;">Ram Bhai</b>
                        <small style="color: rgb(52, 255, 12);  margin-left: 50px;user-select: none;">'Online</small>
                        <br><br>
                    </div>
                     <!-------------------->
                </div>
 
            
            </div>
        </div>
        <div class="right-side" >
            <nav class="nav-upper">
                <div class="prof-pic">
                    <a href="#">
                        <img src="../Images/user-icon.png" >
                    </a>    
                </div>
                <strong style="font-size: large; color: aliceblue; align-items: left;user-select:none;">Sonu Yadav</strong>
                <small style="color: rgb(12, 255, 12); margin-left: 20px; user-select: none;">'Online</small>
            </nav>
            <hr>
            <div class="lower">
                <form action="#">
                    <div class="type">
                        <input type="text" placeholder="Type Here........................................">
                        <div class="send">
                            <button>SEND</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
   </div>
</body>
</html>